*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    font-size: 16px;
}
.order-box{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}
.order-box h2{
    margin-bottom: 20px;
    color: #27ae60;
}